<ion-app>
  <ion-router-outlet>
    <ion-header color="black">
      <ion-toolbar style="background-color: black;"> <!-- Cambiado a negro -->
        <ion-title style="color: white;"></ion-title> <!-- Texto blanco -->
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div id="welcome-container">
        <h1>¡Hola, [Nombre del Usuario]!</h1>
        <p>Bienvenido a tu espacio personal de asistencias y asignaturas.</p>
      </div>
    </ion-content>
  </ion-router-outlet>
</ion-app>
